@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  font-family: 'Poppins',Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif; 
}

body {
  min-height: 100vh;
  width: 100%;
}

